
    <h1 class="text-center">Vous cherchez l'un de ces éléments?</h1>

    <%= render @documents %>

    <div>
    <%= link_to "Back to documents", documents_path %>
  
    <%= button_to "Destroy this document", @document, method: :delete %>
  </div>
  