<div id="<%= dom_id materiel %>">
  <p>
    <strong>Name:</strong>
    <%= materiel.name %>
  </p>

  <p>
    <strong>Disponibilte:</strong>
    <%= materiel.disponibilte %>
  </p>

  <p>
    <strong>Etat:</strong>
    <%= materiel.etat %>
  </p>

</div>
